body {
	background-color: rgba(32, 33, 36, 1);
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.bodyWrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	/* padding: 0 1rem; */
}

/* ****************************************************************** */

/* NAVBAR */
.myNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 6px;
}

.myNavGroup {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* gap: 0.8rem; */
	color: #fff;
	font-size: 13px;
}

.myNavGroup > div {
	padding: 5px 10px;
}

/* First of myNavGroup has a greyish colour, while the 2nd one is white */
.myNavGroup:first-of-type {
	color: #bdc1c6;
	font-size: 14px;
}

.navLink:first-of-type {
	margin-left: 16px;
}

/* Gmail and Images navlinks */
.rightNavLinks {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
/* Hover over navlink adds underline and change cursor to pointer */
.navLink:hover {
	text-decoration: underline;
	cursor: pointer;
}

.rightNavIcons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
}

.gridIconWrapper:hover {
	cursor: pointer;
}

.gridIconWrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gridIconCircle {
	position: absolute;
	height: 42px;
	width: 42px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.gridIconCircle:hover {
	opacity: 1;
}

.gridIcon {
	height: 24px;
	display: flex;
}

.avatarWrapper {
	height: 40px;
	width: 40px;
}

.avatar {
	height: inherit;
	width: inherit;
	background-color: #33691e;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar > p {
	font-size: 1.1rem;
	line-height: 0;
	color: white;
}

/* **************************************************************** */
/* MAIN AREA */

.googlePicWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* values taken from Inspect Element in Google Homepage */
	min-height: 92px;
	height: calc(100% - 560px);
	max-height: 290px;
	/* width: auto; */
}

.googlePic {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	object-position: bottom center;
	width: auto;
	/* custom height, taken from Inspect Element in Google homepage */
	height: 92px;
	aspect-ratio: auto 272/92;
}

.searchWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	margin-top: 1rem;
}

.search {
	display: flex;
	flex-direction: row;
	position: relative;
	min-height: 44px;
	background-color: #202124;
	border: 1px solid #5f6368;
	width: 638px;
	/* width: auto; */
	max-width: 584px;
	border-radius: 999px;
	align-items: center;
	padding: 0.2rem 0.8rem;
}

.search:hover {
	background-color: #303134;
	cursor: text;
	border: 1px solid #303134;
}

.searchIconWrapper {
	height: 20px;
	line-height: 20px;
	width: 20px;
	margin-right: 0.5rem;
	fill: #93999e;
}

.rightSearchIconWrapper {
	height: 24px;
	line-height: 24px;
	width: 24px;
	fill: #93999e;
	margin: 0 0.45rem;
}

.searchIconWrapper > svg {
	width: 20px;
	height: 20px;
}

.rightSearchIconWrapper > svg {
	width: 24px;
	height: 24px;
}

.searchText {
	width: 100%;
}

.searchButtons > button {
	background-color: #303134;
	box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
	border: 1px solid #303134;
	color: #e8eaed;
	border-radius: 0.3rem;
	font-size: 14px;
	padding: 0.65rem 1.1rem;
	box-sizing: border-box;
}

.searchButtons > button:hover {
	cursor: pointer;
	border: 1px solid #5f6368;
}

/* **************************************************************** */
/* SPACING */
.spacing {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	/* min-height: 10px; */
}

/* **************************************************************** */
/* FOOTER */

.myFooter {
	display: flex;
	background-color: #171717;
	color: #9aa0a6;
	flex-direction: column;
}

.location {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	padding: 0.9375rem 1.875rem;
	border-bottom: 1px solid #3c4043;
	font-size: 15px;
}

.botNavBar {
	display: flex;
	justify-content: space-between;
	padding: 0 1.4rem;
	font-size: 14px;
	flex-wrap: wrap;
}

.botNavBarLeft {
	display: flex;
	justify-content: start;
	flex-direction: row;
	min-width: 30%;
	order: 1;
}
.botNavBarMiddle {
	display: flex;
	justify-content: center;
	flex-direction: row;
	order: 2;
}
.botNavBarRight {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	min-width: 30%;
	order: 3;
}

.footerNavLink {
	text-decoration: none;
	color: #9aa0a6;
	padding: 1rem 0.5rem;
}

.footerNavLink:hover {
	text-decoration: underline;
}

.footerNavLink > img {
	height: 0.875rem;
	margin-right: 0.375rem;
}
